<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('管理者メニュー')"></head>
<body>
    <div id="app">
        <!--/* ヘッダー */-->
        <b-nav-admin></b-nav-admin>

        <!--/* タイトル */-->
        <b-title-admin title="Admin Menu" subtitle="管理しちゃう？"></b-title-admin>

        <!--/* パンくずリスト */-->
        <b-pankuzu>
            <b-pankuzu-item href="/" content="Home"></b-pankuzu-hereitem>
            <b-pankuzu-hereitem href="" content="管理者メニュー"></b-pankuzu-hereitem>
        </b-pankuzu>

        <!--/* メインコンテンツ */-->
        <b-main>
            <b-menuitem-blue href="/admin/maintenance" title="MASTER MAINTENANCE" subtitle="マスタメンテナンス"></b-menuitem-blue>
            <b-menuitem-blue href="/admin/download" title="DATA DOWNLOAD" subtitle="データダウンロード"></b-menuitem-blue>
            <b-menuitem-blue href="/admin/crypt" title="Check Crypt" subtitle="パスワード暗号化の確認"></b-menuitem-blue>
            <b-menuitem-blue href="/admin/sample" title="Sample" subtitle="実装サンプル"></b-menuitem-blue>
            <b-menuitem-blue href="/admin/logout" title="Log out" subtitle="Have a nice day!!"></b-menuitem-blue>
        </b-main>

        <!--/* フッター */-->
        <b-footer></b-footer>
    </div>

    <!--/* jsの読み込み */-->
    <th:block th:replace="template/script :: script"></th:block>
</body>
</html>