<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('管理者メニュー')"></head>
<body>
    <section class="sec-header" th:include="nav :: admin"></section>
    
    <section class="sec-title" th:include="title :: admin(title='Admin Menu', subtitle='管理しちゃう？')"></section>

    <section class="sec-pankuzu">
        <div class="siimple-breadcrumb bancha-bread">
            <div class="siimple-breadcrumb-item"><a href="/">Home</a></div>
            <div class="siimple-breadcrumb-item here">管理者メニュー</div>
        </div>        
    </section>
    
    <section class="sec-content">
        <a href="/admin/insertbook/">
            <div class="siimple-card bancha-card bancha-back-blue">
                <div class="siimple-card-body">
                    <div class="siimple-card-title">INSERT BOOK</div>
                    <div class="siimple-card-subtitle">本の新規登録</div>
                </div>
            </div>
        </a>
        <a href="/admin/updatebook/">
            <div class="siimple-card bancha-card bancha-back-blue">
                <div class="siimple-card-body">
                    <div class="siimple-card-title">UPDATE BOOK</div>
                    <div class="siimple-card-subtitle">本の更新</div>
                </div>
            </div>
        </a>
        <a href="/admin/download/dml" onclick="downloadRestoreDml()">
            <form id="download-restore-dml-form" action="/admin/download/restore" method="POST">
                <div class="siimple-card bancha-card bancha-back-blue">
                    <div class="siimple-card-body">
                        <div class="siimple-card-title">Download DML For restore(restore.script)</div>
                        <div class="siimple-card-subtitle">データ復元用DMLのダウンロード</div>
                    </div>
                </div>
            </form>
        </a>
        <a href="/admin/download/csv" onclick="downloadRestoreCsv()">
            <form id="download-restore-csv-form" action="/admin/download/restore" method="POST">
                <div class="siimple-card bancha-card bancha-back-blue">
                    <div class="siimple-card-body">
                        <div class="siimple-card-title">Download CSV for Restore(restore.zip)</div>
                        <div class="siimple-card-subtitle">データ復元用CSVのダウンロード</div>
                    </div>
                </div>
            </form>
        </a>
        <a href="/admin/logout">
            <div class="siimple-card bancha-card bancha-back-blue">
                <div class="siimple-card-body">
                    <div class="siimple-card-title">Log out</div>
                    <div class="siimple-card-subtitle">Have a nice day!!</div>
                </div>
            </div>
        </a>
    </section>

    <section class="sec-footer">
        <div th:replace="footer :: footer"></div>
    </section>

    <script src="/lib/jquery/jquery-3.0.0.min.js"></script>
    <script src="/js/admin/menu.js"></script>
</body>
</html>