<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('管理者メニュー')"></head>
<body>
    <div id="app">
        <!--/* ヘッダー */-->
        <b-nav-admin></b-nav-admin>

        <!--/* タイトル */-->
        <b-title-admin title="サブタイトル管理" subtitle="いかしたやつをたのむ"></b-title-admin>

        <!--/* パンくずリスト */-->
        <b-pankuzu>
            <b-pankuzu-item href="/" content="Home"></b-pankuzu-item>
            <b-pankuzu-item href="/admin/menu" content="管理者メニュー"></b-pankuzu-item>
            <b-pankuzu-item href="/admin/maintenance" content="マスタメンテナンス"></b-pankuzu-item>
            <b-pankuzu-item-here href="" content="Subtitle"></b-pankuzu-item-here>
        </b-pankuzu>

        <!--/* メインコンテンツ */-->
        <b-main>
            <b-table>
                <b-table-header>
                    <b-row>
                        <b-cell>subtitle id</b-cell>
                        <b-cell>タイトルコード</b-cell>
                        <b-cell>サブタイトル</b-cell>
                        <b-cell>編集</b-cell>
                    </b-row>
                </b-table-header>
                <b-table-body>
                    <th:block  th:each="item: ${subtitleMaintenanceItems}">
                        <b-row>
                            <b-cell th:text="${item.subtitleId}"></b-cell>
                            <b-cell th:text="${item.titleCd}"></b-cell>
                            <b-cell th:text="${item.subtitleValue}"></b-cell>
                            <b-cell>
                                <button class="siimple-btn blightgreen white" type="button">EDIT</button>
                            </b-cell>
                        </b-row>
                    </th:block>
                </b-table-body>
            </b-table>
        </b-main>

        <!--/* フッター */-->
        <b-footer></b-footer>
    </div>

    <!--/* jsの読み込み */-->
    <th:block th:replace="template/script :: script"></th:block>
</body>
</html>