<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="comment">

    <!--/* HEADER 文の表示 */-->
    <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title" th:text="${sentenceItem.sentence}"></h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
    </header>

    <!--/* CONTENT コメントの表示 */-->
    <div class="modal__content" id="modal-1-content">
        <hr>
        <p th:each="commentItem: ${sentenceItem.commentItems}" 
            th:onclick="|commentClicked(${sentenceItem.sentenceId}, ${commentItem.commentId})|">
            <span th:text="${commentItem.name}"></span>
            <span>: </span>
            <span th:text="${commentItem.comment}"></span>
        </p>
    </div>

    <!--/* FOOTER コメント投稿フォーム */-->
    <footer class="modal__footer">
        <hr>
        <form th:object="${commentForm}">
            <ul><li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}"></li></ul>                    
            
            <div class="siimple-field">
                <input class="input-name bancha-input-text siimple-input" 
                    type="text" placeholder="名前" th:field="*{name}">
            </div>
            <div class="siimple-field">
                <textarea id="" class="siimple-textarea bancha-input-textarea siimple-textarea-fuild input-comment" 
                    placeholder="コメント" th:field="*{comment}"></textarea>
            </div>
            <div class="siimple-field">
                <label class="siimple-label">削除キー:
                    <div class="siimple-switch">
                    <input type="checkbox" class="delete-key-switch" onChange="deleteKeySwitchChanged(this)"
                        th:field="*{hasDeleteKey}">
                    <label for="delete-key-switch"></label>
                    <div></div>
                </div>
            </div>
            <div id="delete-key-field" class="siimple-field">
                <input class="input-name bancha-input-text siimple-input"  type="text" placeholder="削除キー"
                    th:field="*{deleteKey}">                
            </div>
        </form>
        <button class="modal__btn modal__btn-primary" 
            th:onclick="|submitComment(${sentenceItem.sentenceId})|">コメントする</button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">閉じる</button>
    </footer>

</div>
</body>
</html>