<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="comment-modal-content">

    <!--/* HEADER */-->
    <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title" th:text="${sentenceItem.sentence}"></h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
    </header>

    <!--/* CONTENT */-->
    <div class="modal__content" id="modal-1-content">
        <hr>
        <p th:each="commentItem: ${sentenceItem.commentItems}">
            <span th:text="${commentItem.name}"></span>
            <span>: </span>
            <span th:text="${commentItem.comment}"></span>
        </p>
    </div>

    <!--/* FOOTER */-->
    <footer class="modal__footer">
        <hr>
        <form th:object="${commentForm}">
            <ul><li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}"></li></ul>                    
            
            <div class="siimple-field">
                <input class="input-name bancha-input-text siimple-input" 
                    type="text" placeholder="名前" th:field="*{name}">
            </div>
            <div class="siimple-field">
                <textarea id="" class="siimple-textarea bancha-input-textarea siimple-textarea-fuild input-comment" 
                    placeholder="コメント" th:field="*{comment}"></textarea>
            </div>
        </form>        
        <button class="modal__btn modal__btn-primary" 
            th:onclick="'submitComment(' + ${sentenceItem.sentenceId} + ')'">コメントする</button>
        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">閉じる</button>
    </footer>

</div>
</body>
</html>