<div th:fragment="delete" id="deleteCommentDiv">
<form id="deleteCommentForm" th:object="${deleteCommentForm}">
    <ul><li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}"></li></ul>                    

    <input type="hidden" th:field="*{commentId}" />
    <div class="siimple-field">
        <input type="text" th:field="*{deleteKey}" 
            class="bancha-input-text siimple-input" placeholder="削除キー" />
    </div>
    <button class="modal__btn modal__btn-primary" type="button"
        onclick="deleteComment()">削除</button>
    <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">閉じる</button>
</form>
</div>
