<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('Book')"></head>
<body>
    <section class="sec-header" th:include="nav :: normal"></section>

    <section class="sec-title" 
        th:include="title :: normal(title=${bookItem.name}, subtitle=${bookItem.author})"></section>
    
    <section class="sec-pankuzu">
        <div class="siimple-breadcrumb bancha-bread">
            <div class="siimple-breadcrumb-item"><a href="/">Home</a></div>
            <div class="siimple-breadcrumb-item"><a href="/bookmenu/">Books</a></div>
            <div class="siimple-breadcrumb-item here" th:text="${bookItem.name}"></div>
        </div>
    </section>

    <section class="sec-content">
        <div th:each="sentenceItem, stat: ${bookItem.sentenceItems}" th:with="sid=${sentenceItem.sentenceId}" 
            th:id="|sentence-item-${sid}|" class="sentence-item">
            <div class="sentence-close" th:onclick="|openSentence(${sid})|">
                <p th:utext="${sentenceItem.sentence}" th:classappend="${sentenceItem.hasComment()} ? 'b'"></p>
            </div>
        </div>
    </section>

    <section class="sec-footer">
        <div th:replace="footer :: footer"></div>
    </section>
    
    <!--/* コメント投稿用フォーム */-->
    <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            </div>
        </div>
    </div>            
    
    <script src="/lib/jquery/jquery-3.0.0.min.js"></script>
    <script src="/lib/micromodal/micromodal.min.js"></script>
    <script src="/js/book.js"></script>
</body>
</html>