spring:
  profiles:
    active: production
  thymeleaf:
    cache: false

doma:
  dialect: postgres

---

spring:
  profiles: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/bancha
    username: bancha
    password: bancha
    driverClassName: org.postgresql.Driver

---

spring:
  profiles: production
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/bancha}
    username: ${DB_USERNAME:bancha}
    password: ${DB_PASSWORD:bancha}
    driverClassName: org.postgresql.Driver
