<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('管理者メニュー')"></head>
<body>
    <!--/* ヘッダー */-->
    <section class="sec-header" th:include="nav :: admin"></section>

    <!--/* タイトル */-->
    <section class="sec-title" th:include="title :: admin(title='Admin Menu', subtitle='管理しちゃう？')"></section>

    <!--/* パンくずリスト */-->
    <section class="sec-pankuzu">
        <div class="siimple-breadcrumb bancha-bread">
            <div class="siimple-breadcrumb-item"><a href="/">Home</a></div>
            <div class="siimple-breadcrumb-item here"><a href="/admin/menu">管理者メニュー</a></div>
            <div class="siimple-breadcrumb-item here">マスタメンテナンス</div>
        </div>
    </section>

    <!--/* メインコンテンツ */-->
    <section class="sec-content">
        <a href="/admin/maintenance/account">
            <div class="siimple-card bancha-card bancha-back-blue">
                <div class="siimple-card-body">
                    <div class="siimple-card-title">ACCOUNT</div>
                    <div class="siimple-card-subtitle">アカウント</div>
                </div>
            </div>
        </a>
        <a href="/admin/maintenance/book">
            <div class="siimple-card bancha-card bancha-back-blue">
                <div class="siimple-card-body">
                    <div class="siimple-card-title">BOOK</div>
                    <div class="siimple-card-subtitle">本</div>
                </div>
            </div>
        </a>
        <a href="/admin/maintenance/subtitle">
            <div class="siimple-card bancha-card bancha-back-blue">
                <div class="siimple-card-body">
                    <div class="siimple-card-title">SUBTITLE</div>
                    <div class="siimple-card-subtitle">サブタイトル</div>
                </div>
            </div>
        </a>
    </section>

    <!--/* フッター */-->
    <section class="sec-footer">
        <div th:replace="footer :: footer"></div>
    </section>

    <!--/* jsの読み込み */-->
    <th:block th:replace="template/script :: script"></th:block>
</body>
</html>