<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('会員情報')"></head>
<body>
    <div id="app">
        <!--/* ヘッダー */-->
        <div th:include="nav :: general"></div>

        <!--/* タイトル */-->
        <b-title-general title="誰かの情報" subtitle="他人情報的な？"></b-title-general>

        <!--/* パンくずリスト */-->
        <b-pankuzu>
            <b-pankuzu-item href="/" content="Home"></b-pankuzu-item>
            <b-pankuzu-hereitem href="" content="誰かの情報"></b-pankuzu-hereitem>
        </b-pankuzu>

        <!--/* メインコンテンツ */-->
        <b-main>
            <div class="siimple-card" style="max-width: 800px;">
                <div class="siimple-card-body">
                    <div class="siimple-card-title">ニックネーム</div>
                    <p class="siimple-p" th:text="${accountItem.name}"></p>
                    <div class="siimple-card-title">ひとこと</div>
                    <p class="siimple-p" th:text="${accountItem.hitokoto}"></p>
                </div>
            </div>
        </b-main>

        <!--/* フッター */-->
        <b-footer></b-footer>
    </div>

    <!--/* jsの読み込み */-->
    <th:block th:replace="template/script :: script"></th:block>
</body>
</html>