.sentence-list {
    max-width: 1000px;
}

.bancha-h5 {
    margin: 30px 0 10px 0;
    font-size: 200%;    
}

.bancha-h6 {
    margin: 20px 0 10px 0;
    font-size: 140%;
}

.bancha-h7 {
    display:inline;
    line-height: 160%;
    .sentence-close {
        display:inline;
    }
}
