<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('Sample')"></head>
<body>
    <section class="sec-header" th:include="nav :: normal"></section>
    
    <section class="sec-title" th:include="title :: normal(title='Sample Page', subtitle='Personテーブルをいじるだけのサンプルページ')"></section>

    <div class="siimple-card bancha-card bancha-card-sample" style="margin-top: 10px;">
        <div class="siimple-card-header">INSERT</div>        
        <div class="siimple-card-body">
            <form action="/sample/insert" th:object="${personForm}" method="post">
                <div class="siimple-form">
                    <div class="siimple-field">
                        <div class="siimple-field-label">Name</div>
                        <input type="text" class="siimple-input bancha-input-text" placeholder="名前" th:field="*{name}" />        
                        <div class="siimple-field-helper">空欄はだめだよ</div>
                    </div>
                    <div class="siimple-field">
                        <div class="siimple-field-label">Comment</div>
                        <input type="text" class="siimple-input bancha-input-text" placeholder="コメント" th:field="*{comment}" />        
                    </div>
                    <div class="siimple-field">
                        <button class="siimple-btn bancha-red" type="submit">INSERT</button>
                    </div>
                </div>
            </form>       
        </div>
    </div>
    
    <div class="siimple-card bancha-card bancha-card-sample">
        <div class="siimple-card-header">SELECT</div>        
        <div class="siimple-card-body">
            <div class="siimple-table" style="background-color: white;">
                <div class="siimple-table-header">
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">ID</div>
                        <div class="siimple-table-cell">NAME</div>
                        <div class="siimple-table-cell">COMMENT</div>
                    </div>
                </div>
                <div class="siimple-table-body">
                    <div class="siimple-table-row" th:each="personForm: ${personForms}">
                        <div class="siimple-table-cell" th:text="${personForm.personId}"></div>
                        <div class="siimple-table-cell" th:text="${personForm.name}"></div>
                        <div class="siimple-table-cell" th:text="${personForm.comment}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="siimple-card bancha-card bancha-card-sample" style="max-width: 800px;">
        <div class="siimple-card-header">UPDATE</div>        
        <div class="siimple-card-body">
            <form action="/sample/update" th:object="${personForm}" method="post">
                <div class="siimple-form">
                    <div class="siimple-field">
                        <div class="siimple-field-label">ID</div>
                        <input type="text" class="siimple-input bancha-input-text" placeholder="ID" th:field="*{personId}" />        
                    </div>
                    <div class="siimple-field">
                        <div class="siimple-field-label">NAME</div>
                        <input type="text" class="siimple-input bancha-input-text" placeholder="名前" th:field="*{name}" />        
                    </div>
                    <div class="siimple-field">
                        <div class="siimple-field-label">COMMENT</div>
                        <input type="text" class="siimple-input bancha-input-text" placeholder="コメント" th:field="*{name}" />        
                    </div>
                    <div class="siimple-field">
                        <button class="siimple-btn bancha-red" type="submit">UPDATE</button>
                    </div>
                </div>
            </form>        
        </div>
    </div>

    <div class="siimple-card bancha-card bancha-card-sample">
        <div class="siimple-card-header">DELETE</div>        
        <div class="siimple-card-body">
            <form action="/sample/delete" th:object="${personForm}" method="post">
                <div class="siimple-form">
                    <div class="siimple-field">
                        <div class="siimple-field-label">ID</div>
                        <input type="text" class="siimple-input bancha-input-text" placeholder="ID" th:field="*{personId}" />        
                    </div>
                    <div class="siimple-field">
                        <button class="siimple-btn bancha-red" type="submit">DELETE</button>
                    </div>
                </div>
            </form>        
        </div>
    </div>

    <div th:replace="footer :: footer"></div>
</body>
</html>