<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('404')"></head>
<body>
<section class="sec-header" th:include="nav :: normal"></section>
<div class="siimple-box">
    <div class="siimple-box-title" th:text="${status} + ' ' + ${error}"></div>
    <div class="siimple-box-subtitle">お探しのページはありません &#x1F647;</div>
    <div class="siimple-box-detail"><a class="siimple-link" th:href="@{/}">HOMEへ</a></div>
</div>
<section class="sec-footer">
    <div th:replace="footer :: footer"></div>
</section>
</body>
</html>