<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('寄付詳細')"></head>
<body>
    <div id="app">
        <!--/* ヘッダー */-->
        <div th:include="nav :: general"></div>

        <!--/* タイトル */-->
        <b-title-general title="Donation" subtitle="謝謝"></b-title-general>

        <!--/* パンくずリスト */-->
        <b-pankuzu>
            <b-pankuzu-item href="/" content="Home"></b-pankuzu-item>
            <b-pankuzu-item href="/donation" content="寄付"></b-pankuzu-item>
            <b-pankuzu-item-here href="" content="寄付詳細"></b-pankuzu-item-here>
        </b-pankuzu>

        <!--/* メインコンテンツ */-->
        <b-main>
            <b-table>
                <b-table-header>
                    <b-row>
                        <b-cell>名前</b-cell>
                        <b-cell>コメント</b-cell>
                        <b-cell>寄付金額</b-cell>
                    </b-row>
                </b-table-header>
                <b-table-body>
                    <b-row>
                        <th:block th:each="item: ${donationItems}">
                            <b-cell th:text="${item.name}"></b-cell>
                            <b-cell th:text="${item.comment}"></b-cell>
                            <b-cell><span th:text="${item.amount}" class="number-format"></span></b-cell>
                        </th:block>
                    </b-row>
                </b-table-body>
            </b-table>
        </b-main>

        <!--/* フッター */-->
        <b-footer></b-footer>
    </div>

    <!--/* jsの読み込み */-->
    <th:block th:replace="template/script :: script"></th:block>
    <script th:inline="javascript">
        var donated = /*[[${donated}]]*/ false;
    </script>
    <script src="/js/donation.js"></script>
</body>
</html>