<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('寄付')"></head>
<body>
    <section class="sec-header" th:include="nav :: normal"></section>
    
    <section class="sec-title" th:include="title :: normal(title='Donation', subtitle=${subtitle})"></section>

    <section class="sec-pankuzu">
        <div class="siimple-breadcrumb bancha-bread">
            <div class="siimple-breadcrumb-item"><a href="/">Home</a></div>
            <div class="siimple-breadcrumb-item here">寄付</div>
        </div>
    </section>

    <section class="sec-content">
        <div class="siimple-h1">
            <span>現在の寄付総額: </span>
            <span th:text="${totalAmount}" class="number-format"></span>
            <span>円</span>
            <span class="u"></span>
            <a href="/donation/detail">
                <p class="siimple-p u red">
                        詳細はこちら
                </p>
            </a>
        </div>

        <div class="siimple-alert siimple-alert--warning">
            <p class="siimple-p">
                herokuに毎月900円払わないと、DBに10,000行までしかデータが入らないのです。
            </p>
            <p class="siimple-p">
                つまり本のデータが入りきらない。あとコメントも。。。
            </p>
        </div>

        <div class="siimple-card" style="max-width: 800px;">
            <div class="siimple-card-header">LINE Pay</div>
            <div class="siimple-card-body">
                <div class="siimple-card-title">LINE Payで寄付する</div>
                <div class="siimple-form">
                    <div class="siimple-field">
                        <button class="siimple-btn" type="button">Pay!!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="siimple-card" style="max-width: 800px;">
            <div class="siimple-card-header">TEST Pay</div>
            <div class="siimple-card-body">
                <div class="siimple-card-title">気持ちだけで寄付する</div>
                <div class="siimple-form">
                    <form action="/donation/pay" method="POST" th:object="${testPayForm}">
                        <ul><li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}"></li></ul>
                        <div class="siimple-field">
                            <div class="siimple-field-label">名前</div>
                            <input class="siimple-input" type="text" placeholder="円" th:field="*{name}">
                        </div>
                        <div class="siimple-field">
                            <div class="siimple-field-label">コメント</div>
                            <input class="siimple-input" type="text" placeholder="円" th:field="*{comment}">
                        </div>
                        <div class="siimple-field">
                            <div class="siimple-field-label">金額</div>
                            <input class="siimple-input" type="text" placeholder="円" th:field="*{amount}">
                        </div>
                        <div class="siimple-field">
                            <button class="siimple-btn" type="submit">Pay!!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="card-donated"
        style="position: absolute; top: -300px; left: 100px; width: 200px; height: 200px; text-align: center; background-color: white; border: 10px solid grey; border-radius: 10px;">
            <div class="" style="padding: 20px;">
                <div class="" style=" font-size: 100px;">神</div>
            </div>
        </div>
        
    </section>

    <section class="sec-footer">
        <div th:replace="footer :: footer"></div>
    </section>    

    <script th:inline="javascript">
        var donated = /*[[${donated}]]*/ false;
    </script>
    <script src="/lib/jquery/jquery-3.0.0.min.js"></script>
    <script src="/lib/anime-2.2.0/anime.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/donation.js"></script>
</body>
</html>