a{
    text-decoration: none;
}

p{
    margin: 0px;
    padding: 0px;
}

.b{
    font-weight: bold;
}

.sec-comment{
    margin-left: 20px;
    padding-left: 10px;
    border-left: 4px solid grey;
}

.aform-comment{
    margin-top: 10px;
}

.input-comment{
    width: 400px;
    height: 20px;
}

.input-submit{
    width: 80px;
    height: 70px;
}

.sec-content{
    margin: 20px;
}

.sentence-item{
    margin: 10px 0 0 0;
}

footer i{
    margin: 5px;
    color: grey;
}

/**
*/
.bancha-card .siimple-card-header{
    background-color: rgb(59, 42, 32);
    color: white !important;
}

.bancha-card .siimple-card-body{
    background-color: rgb(209, 198, 186);
}

.bancha-input-text{
    background-color: white !important;
}
.bancha-nav{
    background-color: rgb(114, 170, 143) !important;
}
.bancha-jumbotron{
    background-color: rgb(71, 116, 94) !important;
}

.bancha-red{
    background-color: rgb(148, 54, 54);
    color: white;
}

.bancha-ul li{
    font-size: 120%;
    font-weight: bold;
}

.bancha-ul a{
    color: #444;
}

.bancha-bread a{
    color: #888;
}

.bancha-bread .here{
    color: #444;
}