<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer">
    <div class="siimple-rule"></div>
        <div class="siimple-footer" align="center">
            <div>
                <a target="_blank" href="https://github.com/ahyaemon/bancha_books">
                    <i class="fab fa-github-square fa-3x"></i>
                </a>
                <a target="_blank" href="https://twitter.com/ahyaemon">
                    <i class="fab fa-twitter-square fa-3x"></i>
                </a>
            </div>
            <div>
                &copy; 2018 Ahyaemon
            </div>
        </div>
    </footer>
</body>
</html>