<div th:fragment="nav" class="bancha-nav siimple-navbar siimple-navbar--primary siimple-navbar--fluid">
    <a class="siimple-navbar-title" href="/">Bancha</a>
    <a class="siimple-navbar-subtitle" href="/">Bancha to everyone...</a>
    <div class="siimple--float-right">
        <a class="siimple-navbar-item" href="/bookmenu/">Book Menu</a>
        <a class="siimple-navbar-item" href="/sample/">Sample Page</a>
        <a class="siimple-navbar-item" href="/about/">About</a>
    </div>
</div>