<div th:fragment="normal">
    <div class="siimple-navbar siimple-navbar--fluid blightgreen" th:include="nav :: nav"></div>
</div>

<div th:fragment="admin">
    <div class="siimple-navbar siimple-navbar--fluid blightred" th:include="nav :: nav"></div>            
</div>

<div th:fragment="nav">
    <a class="siimple-navbar-title white" href="/">Bancha</a>
    <a class="siimple-navbar-subtitle white" href="/">v0.2.0</a>
    <div class="siimple--float-right">
        <a class="siimple-navbar-item white" href="/general/login">Sign in</a>
    </div>    
</div>