<!--/* 一般用のナビ */-->
<div th:fragment="normal">
    <div class="siimple-navbar siimple-navbar--fluid blightgreen">
        <div th:replace="nav :: nav"></div>
        <div class="siimple--float-right">
            <!--/*

                1. 未サインイン：Sign In
                2. サインイン済：会員メニュー 

                ROLE_GENERALをサインイン済として扱う

            */-->
            <th:block th:if="${!hasGeneralRole}">
                <a class="siimple-navbar-item white" href="/general/login">Sign in</a>
            </th:block>
            <th:block th:if="${hasGeneralRole}">
                <div class="dropdown">
                    <div class="general-name" onclick="showDropdown()">**さん</div>
                    <div class="dropdown-content">
                        <a href="">会員ページ</a>
                        <hr />
                        <a href="">Book</a>
                        <a href="">Donation</a>
                        <a href="">About</a>
                        <hr />
                        <a href="/general/logout">ログアウト</a>
                        <div class="dropdown-up" onclick="hideDropdown()">
                            <i class="fas fa-angle-double-up"></i>
                        </div>
                    </div>
                </div>            
            </th:block>
        </div>
    </div>
</div>

<!--/* 一般用のナビ（サインインページ） */-->
<div th:fragment="normal-signin">
    <div class="siimple-navbar siimple-navbar--fluid blightgreen">
        <div th:replace="nav :: nav"></div>
    </div>
</div>

<!--/* 管理者用のナビ */-->
<div th:fragment="admin">
    <div class="siimple-navbar siimple-navbar--fluid blightred">
        <div th:replace="nav :: nav"></div>        
    </div>
</div>

<!--/* 管理者用のナビ（サインインページ） */-->
<div th:fragment="admin-signin">
    <div class="siimple-navbar siimple-navbar--fluid blightred">
        <div threplace="nav :: nav"></div>
    </div>
</div>

<!--/* 共通部分 */-->
<th:block th:fragment="nav">
    <a class="siimple-navbar-title white" href="/">Bancha</a>
    <a class="siimple-navbar-subtitle white" href="/">v0.2.0</a>
</th:block>