<div th:fragment="normal(title, subtitle)">
    <div class="siimple-jumbotron siimple-jumbotron--fluid bgreen">
        <div class="siimple-jumbotron-title white" th:text="${title}"></div>
        <div class="siimple-jumbotron-subtitle white" th:text="${subtitle}"></div>
    </div>
</div>

<div th:fragment="admin(title, subtitle)">
    <div class="siimple-jumbotron siimple-jumbotron--fluid bred">
        <div class="siimple-jumbotron-title white" th:text="${title}"></div>
        <div class="siimple-jumbotron-subtitle white" th:text="${subtitle}"></div>
    </div>
</div>
