<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('管理者メニュー')"></head>
<body>
    <!--/* ヘッダー */-->
    <section class="sec-header" th:include="nav :: admin"></section>

    <!--/* タイトル */-->
    <section class="sec-title" th:include="title :: admin(title='Admin Menu', subtitle='管理しちゃう？')"></section>

    <!--/* パンくずリスト */-->
    <section class="sec-pankuzu">
        <div class="siimple-breadcrumb bancha-bread">
            <div class="siimple-breadcrumb-item"><a href="/">Home</a></div>
            <div class="siimple-breadcrumb-item here"><a href="/admin/menu">管理者メニュー</a></div>
            <div class="siimple-breadcrumb-item here"><a href="/admin/maintenance">マスタメンテナンス</a></div>
            <div class="siimple-breadcrumb-item here">Account</div>
        </div>
    </section>

    <!--/* メインコンテンツ */-->
    <section class="sec-content">
        <div class="siimple-table">
            <div class="siimple-table-header">
                <div class="siimple-table-row">
                    <div class="siimple-table-cell">account id</div>
                    <div class="siimple-table-cell">名前</div>
                    <div class="siimple-table-cell">auth info id</div>
                    <div class="siimple-table-cell">メール</div>
                    <div class="siimple-table-cell">ロール</div>
                    <div class="siimple-table-cell">hitokoto id</div>
                    <div class="siimple-table-cell">編集</div>
                </div>
            </div>
            <div class="siimple-table-body">
                <div class="siimple-table-row" th:each="item: ${accountMaintenanceItems}">
                    <div class="siimple-table-cell" th:text="${item.accountId}"></div>
                    <div class="siimple-table-cell" th:text="${item.name}"></div>
                    <div class="siimple-table-cell" th:text="${item.authInfoId}"></div>
                    <div class="siimple-table-cell" th:text="${item.email}"></div>
                    <div class="siimple-table-cell" th:text="${item.role}"></div>
                    <div class="siimple-table-cell" th:text="${item.hitokotoId}"></div>
                    <div class="siimple-table-cell">
                        <button class="siimple-btn blightgreen white" type="button" onclick="showEditModal()">EDIT</button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--/* フッター */-->
    <section class="sec-footer">
        <div th:replace="footer :: footer"></div>
    </section>

    <!--/* アカウント編集用フォーム */-->
    <div class="modal micromodal-slide" id="modal-edit" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">アカウント編集</h2>
                    <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <div class="modal__content" id="modal-1-content">
                    <div class="siimple-field">
                        <div class="siimple-form-field-label">account id</div>
                        <input class="siimple-input" type="text"/>
                    </div>
                    <div class="siimple-field">
                            <div class="siimple-form-field-label">名前</div>
                            <input class="siimple-input" type="text"/>
                        </div>
                    <div class="siimple-field">
                        <div class="siimple-form-field-label">auth info id</div>
                        <input class="siimple-input" type="text"/>
                    </div>
                    <div class="siimple-field">
                        <div class="siimple-form-field-label">メール</div>
                        <input class="siimple-input" type="text"/>
                    </div>
                    <div class="siimple-field">
                        <div class="siimple-form-field-label">ロール</div>
                        <select class="siimple-select">
                            <option>GENERAL</option>
                            <option>ADMIN</option>
                        </select>
                    </div>
                    <div class="siimple-field">
                        <div class="siimple-form-field-label">hitokoto id</div>
                        <input class="siimple-input" type="text"/>
                    </div>
                    <div class="siimple-field">
                        <div class="siimple-form-field-label">ひとこと</div>
                        <textarea id="" class="siimple-textarea bancha-input-textarea siimple-textarea-fuild input-comment"></textarea>
                    </div>
                    <button class="modal__btn modal__btn-primary">編集</button>
                </div>
            </div>
        </div>
    </div>

    <!--/* jsの読み込み */-->
    <th:block th:replace="template/script :: script"></th:block>
    <script src="/js/account_maintenance.js"></script>

</body>
</html>