<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head('about')"></head>
<body>
    <div th:replace="nav :: nav"></div>
    <div class="bancha-jumbotron siimple-jumbotron siimple-jumbotron--purple siimple-jumbotron--fluid">
        <div class="siimple-jumbotron-title">About</div>
        <div class="siimple-jumbotron-subtitle">このページのこととか</div>
    </div>
    <div class="siimple-h1">製作者</div>
    <div class="siimple-p">あひゃえもん</div>

    <div th:replace="footer :: footer"></div>
</body>
</html>