<th:block th:fragment="script">
    <script src="/lib/jquery/jquery-3.0.0.min.js"></script>
    <script src="/lib/jquery/jquery.countTo.js"></script>
    <script src="/lib/anime-2.2.0/anime.min.js"></script>
    <script src="/lib/micromodal/micromodal.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/component/dropdown.js"></script>    
    <script src="/js/component/ajax.js"></script>    
    <script src="/js/component/paging.js"></script>    
    <script src="/js/component/spinner.js"></script>   
    
    <!--/* 本稼働時はmadaは消す */-->    
    <script src="/js/component/mada.js"></script>    
</th:block>